# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# bun only: keep other package managers' lockfiles out
pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lockb

.vscode

# Astro generated types / cache
.astro
